<div class='container'>
  <div class='view'>
    <h1>
      <a ng-if='state != "assign.all"' href ui-sref='assign.all'>../</a>
      <span translate="headline.{{state}}.title"></span>
    </h1>
    <p translate="headline.{{state}}.abstract"></p>

    <!-- Nav tabs -->
    <ul class='nav nav-tabs' style='margin-top:20px'>
      <li role="presentation" ui-sref-active="active" >
        <a href ui-sref='assign.all' aria-controls="home" role="tab" data-toggle="tab" translate="state.assign.all"></a>
      </li>
    </ul>

    <table cellspacing="20">
      <tr>
        <td class='nav-filters'>
          <!-- <ul class='nav nav-tabs '></ul> -->
          <ul class='nav nav-tabs '>
            <li ng-repeat='link in links' role="presentation" ui-sref-active="active" >
              <a href ui-sref='assign.{{link.slug}}' aria-controls="home" role="tab" data-toggle="tab" translate="state.assign.{{link.slug}}"></a>
            </li>
          </ul>
        </td>
        <td><div ui-view></div></td>
      </tr>
    </table>
  </div>
</div>