<div class="collection" ng-class='state|statetoclass'>

  

  <div class='container'>
    <div class="view">
      

      <div class="actions" >
        <div ng-if='story.isWritable' class='btn-line-group primary'>
          <button  class='btn-line' nref ui-sref='writing({storyId:story.slug})'>edit</button>
        </div>

        <div ng-if='user.is_staff' class='btn-line-group'>
          <button class='btn-line' ng-click='setStatus("draft")' ng-class='{"active warning": story.status=="draft"}' translate="story.status.draft"></button>
          <button class='btn-line' ng-click='setStatus("public")' ng-class='{"active": story.status=="public"}' translate="story.status.public"></button>
        </div>
      </div>
    </div>


  </div>
  
  

  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class="tags" >
          <!-- <span ng-if="story.tags.length" class='tag sans-serif' ng-repeat='tag in story.tags|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span> -->
          <span class='tag sans-serif'>
            <span class='tag writing'><a ui-sref='publications.collection'>collection</a></span>
          </span>
        </div>
        <div class="issue" embedit='story.data.issue'></div>
        <h1 id='collection-title'><a ui-sref='story({storyId:story.slug})' embedit='story.data.title' language='language'></a></h1>
        
        <!-- <div class='authors' ng-if="story.authors.length">
          by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
        </div> -->
        
      </div>
    </div>
  </div>


  <div id='collection-index' sticky offset='70'>
  <div class='container' style="">
    <div class='row'>
      <div class="col-sm-12">
        <ul class='pagination'>
          <li ui-sref-active="active" class='special'>
            <a ui-sref='story({postId:story.slug})' translate='index'>&nbsp;</a>
          </li>
          <li ui-sref-active="active" ng-repeat="chapter in story._chapters">
            <a ui-sref='story.story({postId:story.slug, chapterId:chapter.slug})'>{{$index + 1}}</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  </div>

  <div ui-view  style='background: #f0f0f0; margin-top: 48px;'>
    <div class='container'>
    <div class="cover-wrapper" ng-if='story.cover'>
      <div class='image-wrapper cover' lazy-img='{{story.cover.attachment || story.cover.data.preview || story.cover.data.urls.Preview || story.cover.data.thumbnail_url || story.cover.data.url }}'></div>
      <div class='metadata-wrapper' ng-init='document=story.cover' ng-include='"templates/partials/document.metadata.linear.html"|prefixTemplate''></div>
    </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class="col-sm-12">
        <p id='collection-abstract' embedit='story.data.abstract' language='language'></p>
        </div>
      </div>
    </div>
    <div  ng-repeat="chapter in story._chapters">
      <div class='container'>
        <div class="chapter" ng-class='{"last": $last}'>

          <a class="number" ui-sref='story.story({postId:story.slug, chapterId:chapter.slug})'>{{$index + 1}}</a>
          <div class='col-md-6'>
            <div class="inner">
              <div class="divider"></div>
              <div class="tags" ng-if="chapter.tags.length">
                <span class="tag" ng-repeat='tag in chapter.tags|filter:{ category: "writing", status:"public" }' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
              </div>
              <h2><a ui-sref='story.story({postId:story.slug, chapterId:chapter.slug})' embedit='chapter.data.title' language='language'></a></h2>
              <blockquote embedit='chapter.data.abstract' language='language'></blockquote>
            </div>
          </div>
          <div class='col-md-6' style='padding:0'>&nbsp;
            <div ng-if='chapter.covers.length' class="cover" ng-repeat='document in chapter.covers' class='fluid-container'>
              <div class='image-wrapper cover' lazy-img='{{document|coverage}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>