<div class="container">
<div class="view">
<div class="row">
  <div class="col-md-12">
    <h5 class='lined'><span translate='site.title'></span></h5>
    
    <!-- CONVER STORY -->
    <div class="row">
      
        <div class='slides-wrapper' slides autoscroll ng-mouseover='pause()' ng-mouseout='play()'>
          <ul class='nav slides-nav'>
            <li ng-repeat="n in numSlides" ng-click='jumpTo(n)' ng-class='{"active": currentIndex == n}'></li>
          </ul>
          <div class='slides-inner'>
            <div class='slides-rail' style='transform: translateY(-{{currentOffset}}px)'>
              <div class='slide' style='width: 100%' ng-repeat="coverstory in coverstories" ng-include='"templates/partials/coverstory.html"|prefixTemplate'></div>
            </div>
          </div>
        </div>
     
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
    <!-- REMAINING STORIES -->
      <div ng-repeat='story in otherstories' class="col-md-6" ng-class-odd="'clear-left'">
        <div class="coverstory other">
          <div class="divider"></div>
          <div class="tags" ng-if="story.tags.length">
            <span  class='tag' ng-repeat='tag in story.tags|filter:{status:"public",category:"writing"}' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
            <span class='date publication-date'>{{story.date|date:"yyyy'.'MM'.'dd"}}</span>
          </div>
          <div ng-if='story.data.issue' class="issue" embedit='story.data.issue'></div>
          <h4>
            <a ng-if='!story.is_collection' href ui-sref="story({postId: story.slug})" rewording value='story.data.title' default='{{story.title}}'></a>
            <a ng-if='story.is_collection' href ui-sref="collection({collectionId: story.slug})" rewording value='story.data.title' default='{{story.title}}'></a>
          </h4>
          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>
          <blockquote class="reduced" ng-class='{"no-margin":story.keywords.length}'>
            <span embedit='story.excerpt' language='language'></span>
            <a ng-if='!story.is_collection' href ui-sref="story({postId: story.slug})"><span class='icon-arrow-right-circle'></span></a>
            <a ng-if='story.is_collection' href ui-sref="collection({collectionId: story.slug})"><span class='icon-arrow-right-circle'></span></a></blockquote>
          <div class="tags keywords" ng-if='story.keywords.length'>
            <span ng-if="story.keywords.length" translate="keywords" class='label'></span>
            <span class='tag sans-serif' ng-repeat='tag in story.keywords|filter:"public"' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>      
          </div>
          <div ui-sref="story({postId: story.slug})" style='cursor:pointer' ng-if='story.covers.length' ng-repeat='document in story.covers' class='fluid-container relative'>
            <div class='image-wrapper cover' lazy-img='{{document|coverage}}'></div>
            <div class='embedded-metadata' ng-include='"templates/partials/document.metadata.embedded.html"|prefixTemplate'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h5 class='lined'><span translate='latest news'></span></h5>
    <div ng-repeat='story in news'>
      <div class="coverstory news">
        <div ng-if='!$first' class="divider"></div>
        <div class="date">{{story.date|date:"yyyy'.'MM'.'dd"}}</div>
        <h4>
          <a ng-if='!story.is_collection' href ui-sref="story({postId: story.slug})" rewording value='story.data.title' default='{{story.title}}'></a>
          <a ng-if='story.is_collection' href ui-sref="collection({collectionId: story.slug})" rewording value='story.data.title' default='{{story.title}}'></a>
        </h4>

        <div class='contents'>
          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>
          <blockquote class="reduced">
            <span embedit='story.excerpt' language='language'></span>
            <a href ui-sref="story({postId: story.slug})"><span class='icon-arrow-right-circle'></span></a>
          </blockquote>
        </div>
        
        <div ui-sref="story({postId: story.slug})" style='cursor:pointer' ng-if='story.covers.length' ng-repeat='document in story.covers' class='fluid-container relative'>
          <div class='image-wrapper cover' lazy-img='{{document|coverage}}'></div>
          <div class='embedded-metadata' ng-include='"templates/partials/document.metadata.embedded.html"|prefixTemplate'></div>
        </div>
          <div style='clear:both'></div>
        
      </div>
    </div>

    <div style='text-align: center; margin-top: 20px'>
      <div class="btn-line-group primary dual">
        <button class='btn-line' ui-sref='blog.event'>
          <span translate='button.more.events'></span>
        </button>
        <button class='btn-line' ui-sref='blog.news'>
          <span translate='button.more.news'></span>
        </button>
      </div>
    </div>

  </div>
</div>
</div>
</div>