<div class='container listofitems'>
  <div class='view'>
    <h1>
      <a ng-if='state != mainStatename' href ui-sref='{{mainStatename}}'><span class="icon icon-arrow-left-circle"></a>
      <span translate="state.{{state}}.title"></span><span ng-if='tag' rewording value='tag.data.name' follow='tag' default='{{tag.name}}'></span>
    </h1>
    <p translate="state.{{state}}.abstract"></p>
    <!-- Nav tabs -->
    <ul class='nav nav-tabs nav-top'>
      <li role="presentation" ui-sref-active="active" >
        <a href ui-sref='{{mainStatename}}' aria-controls="home" role="tab" data-toggle="tab" translate="state.{{mainStatename}}.label"></a>
      </li>
      <li ng-if='mainRoutes.length' role="presentation" class='divider'></li>
      <li ng-if='tag' ui-sref-active="active">
        <a href class='quick' ui-sref='{{rootStatename}}.tags({slug: tag.slug})' aria-controls="home" role="tab" data-toggle="tab">
          <span>{{tag.category}}</span>/<b rewording value='tag.data.name' follow='tag' default='{{tag.name}}'></b>
        </a>
      </li>
      <li ng-if='tag' class='divider'></li>
      <li ng-if='mainRoutes' ng-repeat='url in mainRoutes' role="presentation" ui-sref-active="active">
        <a ng-if='url.name' href ui-sref='{{rootStatename}}.{{url.slug}}' aria-controls="home" role="tab" data-toggle="tab">{{url.name}}</a>
        <a ng-if='!url.name' href ui-sref='{{rootStatename}}.{{url.slug}}' aria-controls="home" role="tab" data-toggle="tab" translate="state.{{rootStatename}}.{{url.slug}}.label"></a>
      </li>
    </ul>
    <!-- Nav tabs -->
    <table cellspacing="20" ng-if="noFiltering !== true">
      <tr>
        <td class='nav-filters'>
          <ul class='nav nav-tabs' ng-if='availabileOrderby'>
            <li class="dropdown" style="width: 167px">
              <a bs-dropdown placement='bottom-left' aria-haspopup="true" aria-expanded="false" style='position:relative; padding-right: 30px'>
                <span class='username'><span class='ellipsis' translate='order.by.{{ordering}}'></span><span style='position:absolute; right:5px; top:0' class='icon icon-arrow-down-circle'></span></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat='orderby in availabileOrderby' ng-class='{"active":params.orderby==orderby.value}'><a ng-click='changeOrderby(orderby.value)' translate='order.by.{{orderby.label}}'></a></li>
              </ul>
            </li>
          </ul>

          <h4 class='section' ng-if='issues' translate="headline.filter.issues"></h4>
          <ul class='nav nav-tabs' ng-if='issues' >
            <li ng-repeat='issue in issues' ng-class='{"active": isTagActive(issue.slug)}'>
              <a class='tag' ng-click="selectIssueTag(issue.slug)">{{getTranslatedTag(issue)}}</a>
            </li>
          </ul>


          <ul class='nav nav-tabs categoryFilters' ng-if="availableRoutes.length">
            <li ng-if="url.slug!='all'" ng-repeat='url in availableRoutes' role="presentation" ng-class='{"active": isTagActive(url.slug)}'>
              <a ng-if='url.name'
                 ng-click='selectTag(url.slug)'
                 class="force-pointer"
                 aria-controls="home"
                 role="tab"
                 data-toggle="tab">
                {{url.name}}
              </a>

              <a ng-if='!url.name'
                 ng-click='selectTag(url.slug)'
                 class="force-pointer"
                 aria-controls="home"
                 role="tab"
                 data-toggle="tab"
                 translate="state.{{url.state}}.{{url.slug}}.label">
              </a>

              <ul class='nav nav-tabs' ng-if='hallOfFame.publishings && state == "publications."+url.slug && hallOfFame.publishings.count' style='border: 0px; border-left: 2px solid; padding-left: 10px'>
                <li ng-class='{"active":(filters.tags__slug__all | inArray : tag.slug)}' ng-repeat='tag in hallOfFame.publishings.results'>
                  <a class='tag with-number' ng-click='toggleFilter("tags__slug__all", [tag.slug])'>{{tag.name}}
                  <span class='number'>{{tag.stories}}</span>
                  </a>
                </li>
              </ul>

            </li>
          </ul>

          <h4 class='section' ng-if='hallOfFame.topAuthors.count' translate='top authors'></h4>
          <ul class='nav nav-tabs' ng-if='hallOfFame.topAuthors.count'>
            <li ng-class='{"active":isAuthorActive(author.slug)}' ng-repeat='author in hallOfFame.topAuthors.results'>
              <a class='author with-number' ng-click='selectTag(author.slug, "authors__slug__and")'>{{author.fullname}}
              <span class='number'>{{author.stories}}</span>
              </a>
            </li>
          </ul>


          <h4 class='section' ng-if='keywords'>Keywords</h4>
          <ul class='nav nav-tabs' ng-if='keywords' style="border-bottom: none">
            <li ng-repeat='keyword in displayedKeywords' ng-class='{"active": isTagActive(keyword.slug)}'>
              <a class='tag' ng-click="selectTag(keyword.slug, null, tagsStateurl)">{{getTranslatedTag(keyword)}}</a>
            </li>
          </ul>
          <button ng-click="displayMoreKeywords()"
                  ng-if='keywords && keywords.length !== displayedKeywords.length'
                  class="btn btn-line pull-right" style="margin-right: 30px; font-size: 9px">
            Load more
          </button>
        </td>
        <td><div ui-view></div></td>
      </tr>
    </table>
    <div ui-view ng-if="noFiltering === true"></div>
  </div>
</div>