<div class='container listofitems'>
  <div class='view'>
    <h2>
      <a ng-if='state != mainStatename' href ui-sref='{{mainStatename}}'>../</a>
      <span translate="state.{{state}}.title"></span>
    </h2>
    <p translate="state.{{state}}.abstract"></p>

    <!-- Nav tabs -->
    <table cellspacing="20">
      <tr>
        <td class='nav-filters'>
          <ul class='nav nav-tabs' ng-if='availabileOrderby'>
            <li class="dropdown">
              <a bs-dropdown placement='bottom-left' aria-haspopup="true" aria-expanded="false" style='position:relative; padding-right: 30px'>
                <span class='username'><span class='ellipsis' translate='order.by.{{ordering}}'></span><span style='position:absolute; right:5px; top:0' class='icon icon-arrow-down-circle'></span></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat='orderby in availabileOrderby' ng-class='{"active":params.orderby==orderby.value}'><a ng-click='changeOrderby(orderby.value)' translate='order.by.{{orderby.label}}'></a></li>
              </ul>
            </li>
          </ul>

          <ul class='nav nav-tabs ' ng-repeat='route in availableRoutes'>
          
            <li ng-repeat='url in route.urls' role="presentation" ui-sref-active="active">
              <a ng-if='url.name' href ui-sref='{{route.state}}.{{url.slug}}' aria-controls="home" role="tab" data-toggle="tab">{{url.name}}</a>
              <a ng-if='!url.name' href ui-sref='{{route.state}}.{{url.slug}}' aria-controls="home" role="tab" data-toggle="tab" translate="state.{{route.state}}.{{url.slug}}.label"></a>
            </li>
          </ul>

        </td>
        <td><div ui-view></div></td>
      </tr>
    </table>
  </div>
</div>