<div class='container'>
  <div class='view'>
    <h1>
      <a ng-if='state != "reviews.all"' href ui-sref='reviews.all'>../</a>
      <span translate="headline.{{state}}.title"></span>
    </h1>

    <p translate="headline.{{state}}.abstract"></p>
  
    <!-- Nav tabs -->
    <ul class='nav nav-tabs' style='margin-top: 20px;'>
      <li ng-if='user.is_reviewer' role="presentation" ui-sref-active="active" >
        <a href ui-sref='reviews.all' aria-controls="home" role="tab" data-toggle="tab" translate="state.reviews.all"></a>
      </li>
      <!-- <li ng-if='user.is_reviewer && user.is_staff' role="presentation" ui-sref-active="active" >
        <a href ui-sref='reviews.todo' aria-controls="home" role="tab" data-toggle="tab" translate="state.reviews.todo"></a>
      </li>
      

      <li role="presentation" ui-sref-active="active" >
        <a href ui-sref='reviews.reports' aria-controls="home" role="tab" data-toggle="tab" translate="state.reviews.reports"></a>
      </li> -->
    </ul>


    <table cellspacing="20">
      <tr>
        <td class='nav-filters'>
          <ul class='nav nav-tabs '>
            <li class="dropdown">
              <a bs-dropdown placement='bottom-left' aria-haspopup="true" aria-expanded="false" style='position:relative; padding-right: 30px'>
                <span class='username'>
                  <span class='ellipsis' translate='order.by.{{ordering}}'></span>
                  <span style='position:absolute; right:5px; top:0' class='icon icon-arrow-down-circle'>
                  </span>
                </span>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li ng-repeat='orderby in availabileOrderby' ng-class='{"active":params.orderby==orderby.value}'><a ng-click='changeOrderby(orderby.value)' translate='order.by.{{orderby.label}}'></a></li>
              </ul>
            </li>
          </ul>
          <ul class='nav nav-tabs '>
            <li ng-if='user.is_reviewer' role="presentation" ui-sref-active="active" >
              <a href ui-sref='reviews.pending' aria-controls="home" role="tab" data-toggle="tab" translate="state.reviews.pending"></a>
            </li>
          </ul>
        </td>
        <td>
          <div ui-view></div>
        </td>
      </tr>
    </table>
  </div><!-- eof .view -->
</div>