<div class='container'>
<div class='view'>
<div class='row'>
  <div class='col-md-8'>
    <span translate='matchesfound' translate-values="{count: count, query: query}"></span>
    
    <ul class="filters">
      <li class='filter' ng-class='k' ng-repeat="(k, v) in qs">
        <span ng-if='k == "q"'>{{v}}</span>
        <span ng-if='k != "q"'>{{k}}: {{v}} <span ng-click="removeLocationFilter(k)" class="icon icon-close"></span></span>
      </li>
    </ul>
  </div>
</div>
<!-- Nav tabs -->
<ul class='nav nav-tabs'>
</ul>
  <div ui-view></div>
</div>
</div>