<div ng-if='story._isCollection' ng-include='"templates/collection.html"|prefixTemplate'></div>

<div ng-if='!story._isCollection' class="story">
  <div class='container tight-container'>
    <div class="view">
      <div class="actions" >
        <div ng-if='review' class='btn-line-group transparent'>
          <button class='btn-line' ui-sref="reviews.pending" translate="button.backtoreviews"></button>
        </div>
        <div ng-if='review' class='btn-line-group primary transparent'>
          <button class='btn-line' ui-sref="review({id:review.id})" translate='button.completereview'></button>
        </div>
        <div class='btn-line-group transparent'>
          <div class="dropdown">
            <!-- <li class="dropdown" ng-class="{active: state.includes('me') || state.includes('draft')}"> -->

              <a class='btn-line' bs-dropdown placement='bottom-right' aria-haspopup="true" aria-expanded="false">
                <span translate='button.downloadas'></span> <span class='icon icon-cloud-download'></span>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li>
                  <a ng-href="/api/story/{{story.id}}/download/" _target="blank">pdf</a>
                </li>
                <li ng-if='story.source && (user.is_staff || user.is_chief_reviewer || user.is_reviewer)'>
                  <a ng-href="/api/story/{{story.id}}/download/source" _target="blank"><span class='icon icon-lock'></span>&nbsp;&nbsp;<span translate='button.downloadsource.limited'></span> </a>
                </li>
              </ul>

          </div>
          <!-- <a  class='btn-line' ng-href="/api/story/{{story.id}}/download/" _target="blank">PDF <span class='icon icon-cloud-download'></span></a> -->
        </div>

        <div ng-if='story.isWritable && !story.isUnderReview' class='btn-line-group primary transparent'>
          <button class='btn-line' nref ui-sref='writing({storyId:story.slug})'><span translate='edit'></span> <span class='icon icon-pencil'></span></button>
        </div>


        <div ng-if='story.isWritable && !story.isUnderReview' class='btn-line-group primary transparent'>
          <button  class='btn-line' ng-if='story.status!="deleted"' ng-click='setStatus("deleted")' translate='remove'><span class='icon icon-bin'></span></button>
          <button  class='btn-line' ng-if='story.status=="deleted"' ng-click='setStatus("draft")' translate='recover'><span class='icon icon-bin'></span></button>
        </div>


        <div ng-if='!user.is_staff && !story.isUnderReview && story.isWritable' class='btn-line-group secondary'>
          <button class='btn-line' ng-click='publish()'><span translate='button.askforpublication'></span><span class='icon icon-pencil'></span></button>
        </div>
        <div ng-if='story.status == "pending"  && !user.is_staff' class='btn-line-group primary transparent'>
          <button class='btn-line' ng-disabled='true'><span translate='story.status.pending'></span></button>
        </div>
        <div ng-if='story.status == "pending" && user.is_staff' class='btn-line-group primary transparent'>
          <button class='btn-line' ng-click='createReview()'><span translate='story.status.pending'></span></button>
        </div>
        <div ng-if='story.status == "editing"' class='btn-line-group primary transparent'>
          <button class='btn-line' ng-disabled='true'><span translate='story.status.editing'></span></button>
        </div>
        <div ng-if='user.is_staff && !story.isUnderReview' class='btn-line-group'>
          <button class='btn-line' ng-click='setStatus("draft")' ng-class='{"active warning": story.status=="draft"}' translate="story.status.draft"></button>
          <button class='btn-line' ng-click='setStatus("public")' ng-class='{"active": story.status=="public"}' translate="story.status.public"></button>
        </div>

        <div ng-if='story.status == "review"' class='btn-line-group primary transparent'>
          <button class='btn-line' ng-disabled='true'><span translate='story.status.review'></span></button>
        </div>
      </div>
    </div>
  </div>



  <div class='overlay'>
    <div class='container tight-container'>
      <div class='row'>
        <div class='col-md-8'>
          <div class="tags" >
            <span class='tag sans-serif' ng-repeat='tag in story._tags.writing' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
            <span class='tag sans-serif' ng-repeat='tag in story._tags.blog' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
             <span class='date publication-date'>{{story.date|date:"yyyy'.'MM'.'dd"}}</span>

          </div>

          <div class='authors' ng-if="story.authors.length">
            by <span ng-repeat='author in story.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
          </div>


        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <h1 rewording value='story.data.title' default='{{story.title}}'></h1>



          <!-- social share buttons: -->
          <div ng-if='story.status == "public"' ng-include='"templates/partials/story.socialshare.html"|prefixTemplate'></div>

          <!-- story reference and cite as buttons -->
          <!-- <div embedit='story.data.issue' ng-if='story.data.issue' markdown='true' language='language'></div>
          -->

          <blockquote class='abstract' rewording markdown='inline' value='story.data.abstract' default='{{story.abstract}}'></blockquote>

          <div class="tags keywords">
            <span ng-if="story._tags.keyword" translate="keywords" class='label'></span>
            <span class='tag sans-serif' ng-repeat='tag in story._tags.keyword' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
          </div>
          <div class='btn-line-group transparent toC'>
            <button class='btn btn-line' ng-if='ToC.length' ng-click='toggleTableOfContents($event)'><span translate='table of contents'></span> <span class='icon icon-book-open'></span>
            </button>
          </div>
        </div>
      </div>
    </div>
      <div ng-if='story._isBiography'>
        <div class='container tight-container' >
          <div class='row no-gutter biography-wrapper' >
            <div class='col-sm-4' style='padding: 0' respect-sibling='next'>
              <div ng-if='story.covers.length' class="main cover" style='height: 100%' ng-repeat='document in story.covers'>
                <div class='cover-oembed' rich-oembed fullscreen='fullsize(document.slug)' autoplay='true' oembed='document.data' media='document' quality='{{document.type=="image" || document.type=="photo"? "hifi":"snapshot"}}'></div>
              </div>
              <div ng-if='!story.covers.length' class="main cover" style='height: 100%'>

                <div class="lazy-cover" style="background-position:{{story._biography.data.offsetx}} {{story._biography.data.offsety}};" lazy-img="{{story._biography.data.url||story._biography.data.thumbnail_url}}"></div>
              </div>

            </div>
            <div class='col-sm-8' >
              <div biography data='story._biography.data'></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if='!story._isBiography && story.covers.length' class="main cover" ng-repeat='document in story.covers'>
        <div class='container tight-container'>

          <div class='cover-oembed'  style='height: 400px' rich-oembed fullscreen='fullsize(document.slug)' autoplay='true' oembed='document.data' media='document' quality='{{document.type=="image" || document.type=="photo"? "hifi":"snapshot"}}'></div>

          <!-- </div> -->

          <!-- <div class='col-md-4'> -->
          <div class='metadata-wrapper' ng-include='"templates/partials/document.metadata.linear.html"|prefixTemplate'></div>
          <!-- </div> -->
        <!-- </div> -->
        </div>
      </div>

    <div class='container tight-container'>


      <div class='row' style='margin-bottom: 100px'>
        <div  ng-class='{"col-md-12": !sidedocuments, "col-md-8 col-lg-7 col-xs-8": sidedocuments}'>

          <div style='position:relative' class="contents">

            <!-- contents of the story -->
            <div id='contents' markdownit='story.contents' watchlanguage='true' language='language' listener='listener(event, data, callback)' settoc='setToC(ToC)' setdocs='setDocuments(items)'></div>

            <!-- DOI / reference -->
            <div class='ref' ng-if='story.data.reference'>
              <span translate='ref' class='label'></span>
              <a target='_blank' embedit='story.data.reference' markdown='true' language='language'></a>
            </div>

            <div class='ref' ng-if='story.data.doi'>
              <span class='label' ng-if='story.data.doi' translate='doi'></span>
              <a ng-if='story.data.doi' ng-href='https://doi.org/{{story.data.doi}}' target='_blank'><p>{{story.data.doi}}</p></a>
            </div>
            <!-- contains the commenter -->
            <div ng-if='story.isWritable || story.isReviewable' rangy container='contents' highlights='story.highlights' commented='commented(error, comment)' target='story' actor='user' onCommentsSelected='commentsSelected(uids)'></div>


          </div>
        </div>
        <div ui-view class='col-md-4 col-lg-5 col-xs-4' ng-if='sidedocuments' respect-previous-sibling update="documents">
          <div  sliding-steps data-language='language' data-focus='focusedIdx' style='height:100%' items='documents'></div>
        </div>
      </div>
    </div>

    <div  class='versioning' sticky >

      <div ng-if='story.isWritable' class="btn-line-group transparent dropdown">
        <a class='btn-line' ng-click='loadVersions()' bs-dropdown placement='top-left' aria-haspopup="true" aria-expanded="false">
          <span ng-if='state=="story"'>most recent version</span><span ng-if='state!="story"'>version: {{story.version}}</span> <span class='icon icon-list'></span>
        </a>

        <ul class="dropdown-menu" role="menu">
          <li ng-repeat='version in versions'>
            <a ui-sref='storygit({id:story.slug, commit:version.tag})'>{{version.tag}} ({{version.date}})</a>
          </li>
          <li>
            <a ui-sref='story({postId:story.slug})'>most recent version</a>
          </li>
        </ul>

      </div>
      <!-- <div>{{neighbors}}</div> -->
      <div class="btn-line-group transparent black " ng-if='neighbors.previous_sibling'>
        <button class='btn-line' title='{{neighbors.previous_sibling.title}}'  ui-sref='story({postId:neighbors.previous_sibling.slug})'>
          <span class='icon left icon-arrow-left-circle'></span>
          <span class='truncate' rewording value='neighbors.previous_sibling.data.title' default='{{neighbors.previous_sibling.title}}'></span>
        </button>
      </div>
      <div class="btn-line-group transparent black" ng-if='neighbors.next_sibling'>
        <button class='btn-line' title='{{neighbors.next_sibling.title}}' ui-sref='story({postId:neighbors.next_sibling.slug})'>
          <span class='truncate' rewording value='neighbors.next_sibling.data.title' default='{{neighbors.next_sibling.title}}'></span>
          <span class='icon icon-arrow-right-circle'></span>
        </button>
      </div>
    </div>

    <div marginalia whenvisible='loadComments()'></div>

  </div>
  <div class='responses' ng-if='story.isWritable || story.isReviewable'>
    <div class='container tight-container' >
      <div class='row' style='margin-bottom: 100px'>
        <div class='col-md-12'>
          <!-- comment list babe -->
            <div  class='sliding-steps'>
              <div class='step comment commenter-wrapper' commenter disable-close="true" target="story" disable-viewer="true" actor="user" commented="commented(error, comment)"></div>

              <div ng-repeat='comment in comments' ng-include='"templates/partials/comment.html"|prefixTemplate'></div>

              <div class='more-wrapper'>
                <div ng-if='comments.length > 0 && comments.length < commentsCount' class="btn-line-group primary">
                  <button class='btn-line' ng-click='moreComments()'>
                    <span ng-if='!isLoadingComments'>
                      <span translate='button.more'></span>
                      <span translate='missing' translate-values="{count: (commentsCount-comments.length)}"></span>
                    </span>
                    <span ng-if='isLoadingComments' translate='button.loading'></span>
                  </button>
                </div>
                <!-- when count equals item length, we are at the end -->
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

