<div class='container tight-container'>
<div class='view'>

<!-- <span class='btn-line-group'><button class='btn-line active' ng-click='save()'>{{isSaving? "saving...":"save"}}</button></span> -->


<div class="row">
  <div class='col-sm-8'>
    <label>
      <span translate="field.label.author"></span>
    </label>
    <tags-input class='tags-input' on-tag-added='attachAuthor($tag)' on-tag-removed='detachAuthor($tag)' key-property='id' display-property='fullname' placeholder='Add an author' ng-model="story.authors" template='{{"templates/partials/author.input.html"|prefixTemplate}}'>
      <auto-complete source="suggestAuthors($query)" template='{{"templates/partials/author.autocomplete.html"|prefixTemplate}}'></auto-complete>
    </tags-input>

    <label>
      <span translate="field.label.title"></span>
    </label>
    <input id='draft-title' class='elastic-textarea' msd-elastic ng-model='title' type='text' placeholder='Untitled' />
    <label></label>
    <label>
      <span translate="field.label.abstract"></span>
    </label>
    <textarea id='draft-abstract' class='elastic-textarea' rows="1" msd-elastic ng-model='abstract' type='text' placeholder='abstract'></textarea>

    <div ng-repeat='tagField in tagFields|filter:{relevance:"primary"}' ng-include='"templates/partials/tags.input.html"|prefixTemplate'></div>


    <div>
      <div class="row">
        <div class="col-sm-6">
          <label for="lat">Latitude</label>
          <input id='lat' class='elastic-textarea' msd-elastic ng-model='lat' type='text' placeholder="49.610001" ng-pattern="'-?[0-9]{1,3}[.][0-9]+'" />
        </div>
        <div class="col-sm-6">
          <label for="lon">Longitude</label>
          <input id='lon' class='elastic-textarea' msd-elastic ng-model='lon' type='text' placeholder="6.129630" ng-pattern="'-?[0-9]{1,3}[.][0-9]+'" />
        </div>
      </div>
    </div>
    <i>If provided, the location of the initiative will be used on the <a ui-sref="map">map</a>.</i>
  </div>
  <div class='col-sm-4'>

    <div class='cover-preview-wrapper'>
      <label translate="field.label.cover"></label>
      <div class="cover-preview" ng-repeat="document in story.covers">
        <div ng-if='document.data'>
          <div lazy-img='{{document|coverage}}' class='lazy-box'></div>

          <div class='tile'>
            <div class='title' embedit='document.data.title' language='language'></div>
            <div class='copyright' embedit='document.data.copyright'></div>
            <div class='btn-line-group transparent'>
              <button class='btn-line' ng-disabled='!story.covers.length' ng-click='
              removeCover(document)' translate="button.removecover"></button>
            </div>
          </div>
        </div>

      </div>
      <div class="center">
        <div class='btn-line-group' style='width: 100%'>
          <button   class='btn-line' ng-click='
            openCoversModal()' translate="button.choosecover"></button>
        </div>
      </div>
    </div>

    <div ng-if='user.is_staff'>
      <!-- doi -->
      <label>
        <span translate="field.label.doi"></span>
      </label>
      <div>
      <span>{{story.data.doi}}</span>
        <div class='btn-line-group transparent'><button class='btn-line' ng-click='openSaveDoiModal()' translate='button.createorupdate' translate-values='{create: !story.data.doi}'></button></div>
      </div>
      <!-- citation -->
      <label>
        <span translate="field.label.issue"></span>
      </label>
      <textarea class='elastic-textarea' rows="1" msd-elastic ng-model='story.data.issue' type='text' placeholder='issue n.'></textarea>


      <!-- citation -->
      <label>
        <span translate="field.label.reference"></span>
      </label>
      <textarea class='elastic-textarea' rows="1" msd-elastic ng-model='story.data.reference' type='text' placeholder='reference'></textarea>


      <!-- <label translate="staff.drafts.tags.placeholder"></label>
      <tags-input class='tags-input'  on-tag-added='attachTag($tag)' on-tag-removed='detachTag($tag)' key-property='id' display-property='name' ng-model="displayedTags" add-from-autocomplete-only="true">
          <auto-complete template='{{"templates/partials/tag.autocomplete.html"|prefixTemplate}}' source="suggestTags($query, {category__in:['blog','writing', 'highlights', 'publishing']}, false)" ></auto-complete>
      </tags-input> -->
    </div>

    <!-- tags placeholder  -->
    <div ng-repeat='tagField in tagFields|filter:{relevance:"secondary"}' ng-include='"templates/partials/tags.input.html"|prefixTemplate'></div>
    <p style="margin-top: 20px; margin-left: 2px; font-size: small">
      <i translate="writing.help"></i>
    </p>
  </div>
</div>


<div class='actions'>
  <!-- <div ng-if='metadata.owner.is_staff' class='btn-line-group'> -->

  <div class='btn-line-group' ng-if='!isDraft && id'>
    <button ng-if='!collection' class='btn-line' ui-sref="story({postId: story.slug})" translate="button.viewmode"></button>
    <button ng-if='collection' class='btn-line' ui-sref="story.story({postId: collection, chapterId: story.slug})" translate="button.viewmode"></button>
  </div>

  <div class='btn-line-group primary'>
    <button ng-if='!isDraft' ng-click='save()' class='btn-line'><span ng-if='!isSaving' translate="button.save"></span><span ng-if='isSaving' translate="button.issaving"></span></button>
    <button ng-if='isDraft' ng-click='save()' class='btn-line'><span translate="button.create"></span></button>



  </div>
  <!-- </div> -->

</div>



<!-- <div class='authors' ng-if='!isDraft'>
by <a href>{{metadata.owner.username}}</a>
</div>
<div class='authors' ng-if='isDraft'>
  <div ng-if='user.username'>
    by <a href>{{user.username}}</a>
  </div>
  <div ng-if='!user.username'>
    by <a href>anonymous</a>
  </div>
</div> -->

<!-- <div ng-if='!isDraft'>
  <form class="form-inline">
    <div class="form-group">
      <label translate='date'></label>
      <input type="text" class="form-control" ng-model="date" name="date" data-max-date="today" timezone='UTC' bs-datepicker data-autoclose="1">{{date}}
    </div>
  </form>
</div> -->

</div>
</div>

<div class='fluid-container' style='padding: 0 50px 50px 100px; background: #efefef; overflow: hidden; position: relative'>
  <div class='toolbox' sticky offset='70'>

      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("strong") != -1?"active": ""}}' ng-click='toolboxing("toggleBold")'>B</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("em") != -1?"active": ""}}' style='font-style:italic' ng-click='toolboxing("toggleItalic")'>I</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("header-1") != -1?"active": ""}}' ng-click='toolboxing("toggleHeading1")'>H1</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("header-2") != -1?"active": ""}}' ng-click='toolboxing("toggleHeading2")'>H2</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("header-3") != -1?"active": ""}}' ng-click='toolboxing("toggleHeading3")'>H3</button>
      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("quote") != -1?"active": ""}}' ng-click='toolboxing("toggleBlockquote")'>Q</button>
      &nbsp;&nbsp;
      <div class='btn-line-group  transparent'>
        <button class='btn-line' ng-click='save()'><span translate='button.save'></span> <span class='icon icon-disc'></span></button>
<!--        <button ng-click='openSaveVersionModal()' class='btn-line'><span translate="button.saveversion"></span> <span class='icon icon-pin'></span></button>-->
      </div>


      <div class='float-right btn-line-group dropdown'>

        <button class='btn-line' ng-class='{"active": state.current.name=="writing"}' ui-sref='writing({postId:story.slug})'><span translate='button.wmodenormal'></span></button>
        <button class='btn-line' ng-class='{"active": state.current.name=="writing.live"}' ui-sref='writing.live({postId:story.slug})'><span translate='button.wmodepreview'></span></button>
<!--        <button class='btn-line dropdown' ng-class='{"active": state.current.name=="writing.compare" || state.current.name=="writing.compare.diff"}' ng-click='loadVersions()' bs-dropdown placement='bottom-right' aria-haspopup="true" aria-expanded="false" ><span translate='button.wmodecompare'></span> <span class='icon icon-list'></span></button>-->
        <ul class="dropdown-menu" role="menu">
          <!-- <li>
            {{story.version}}
          </li> -->
          <li class='version' ng-repeat='version in versions'>
            <div ng-repeat='tag in version.tags'>
              <a class='tag-version' ui-sref='writing.compare({postId:story.slug, tag:version.hexsha})'>{{tag.tag}}</a>
              <span class='date'>{{tag.date|date:"yyyy'.'MM'.'dd"}}</span>
              <div>
                <blockquote><span class='username'>{{tag.username}}</span> &mdash; {{tag.message}}</blockquote>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <span class='float-right label'>writing mode:</span>

      <!-- <button style='width:70px' class='sans-serif btn {{isPreviewEnabled? "active": ""}}' ng-click='action("togglePreview")'>preview</button>

      <button ng-disabled='isPreviewEnabled' class='btn {{activeStates.indexOf("link") != -1|| activeStates.indexOf("url") != -1? "active": ""}}' ng-click='showReferenceModal()'><span class='icon-plus'></span></button> -->
      <!-- {{activeStates}} -->

  </div>
  <!-- end of toolbox -->

  <div class='row'>
    <!-- <a ui-sref="writing.compare({storyId: story.slug, tag:'lof'})">ooooooooo</a> -->
    <div ng-class='{"col-xs-6": state.current.name !="writing", "col-xs-12":state.current.name =="writing"}' id="draft-contents">

      <div class='contents' style='margin-top: 50px; min-height: 50px; position:relative'>
          <!-- <medium-editor ng-model='contents' bind-options="mediumOptions"></medium-editor> -->
          <div class='log-version' ng-if='story.logs.length' ng-repeat='tag in story.logs'>
            <span class='tag-version' >{{tag.tag}}</span>
            <span class='date'> {{tag.date|date:"yyyy'.'MM'.'dd"}}</span> &mdash; {{tag.message}}
          </div>

          <div class='log-version' ng-if='!story.logs.length'>
            <span class='tag-version' >{{story.version}}</span>
            <span class='date'> {{story.date_last_modified|date:"yyyy'.'MM'.'dd"}}</span>
          </div>

          <div mde='contents' style='margin-top:1px' language='language' setdocs='setDocuments(documents)' setmarked='setMarked(marked)' settoc='setToC(items)' clearcontent="clearContent()"></div>
      </div>
    </div>
    <div ui-view ng-class='{"col-xs-6": state.current.name !="writing", "col-xs-12":state.current.name =="writing"}'><!-- 'nothing here babe' {{state}} --></div>
    <!-- <div class='col-md-4 col-lg-5 col-xs-4' respect-previous-sibling update="sideItems">
      <div sliding-steps data-language='language' data-focus='focusedIdx' style='height:100%' items='sideItems'></div>
    </div> -->
    <!-- <div class='col-xs-6' style='padding-left:0'>
      <div class='contents' id='contents' markdownit='marked' watchmarkdownit='true' watchlanguage='true' language='language' listener='listener(event, data, callback)'></div>
      <div rangy container='contents' highlights='story.highlights' commented='commented(error, comment)' target='story' actor='user' onCommentsSelected='commentsSelected(uids)'></div>
    </div> -->
  </div>
</div>



