<div class="coverstory story lite">
  
    <div class='col-xs-6 col-sm-4'>
      <div ng-if='coverstory.covers.length' ng-repeat='document in coverstory.covers' class='cover-wrapper row'>
      <div class='cover-oembed' rich-oembed fullscreen='fullsize(document.slug)' autoplay='true' oembed='document.data' media='document' immediate quality="hifi"></div>
        <!-- <div class='cover' style='background-size: cover; height:300px; background-image:url({{coverstory.cover}})' ></div> -->
      </div>
    </div>
    <div class='col-xs-6 col-sm-8'>
      <div class="tags" ng-if="coverstory.tags.length">
        <span class="tag" ng-repeat='tag in coverstory.tags|filter:{ category: "writing" }' ng-include='"templates/partials/tag.html"|prefixTemplate'></span>
      </div>
      <div class="issue" embedit='coverstory.data.issue' ng-click='next()'></div>
       
      <h3>
        <a ng-if='!story.is_collection' href ui-sref="story({postId: coverstory.slug})" embedit='coverstory.data.title' language='language'></a>
        <a ng-if='story.is_collection' href ui-sref="collection({collectionId: coverstory.slug})" embedit='coverstory.data.title' language='language'></a>
      </h3>
      <div class='authors' ng-if="coverstory.authors.length">
        by <span ng-repeat='author in coverstory.authors' ng-include='"templates/partials/author.html"|prefixTemplate'></span>
      </div>
      <blockquote>
        <span embedit='coverstory.excerpt' language='language'></span>
        <a ng-if='!coverstory.is_collection' href ui-sref="story({postId: coverstory.slug})"><span class='icon-arrow-right-circle'></span></a>
        <a ng-if='coverstory.is_collection' href ui-sref="collection({collectionId: coverstory.slug})"><span class='icon-arrow-right-circle'></span></a>
      </blockquote>
    </div>
    
    <div style='clear:both'></div>
</div>