<div class="share" >
  <span translate='share'></span>
  <a class='btn btn-line btn-share' socialshare socialshare-provider="twitter" socialshare-text="{{OG.title}}" socialshare-via="{{settings.twitter.username}}" socialshare-hashtags="{{settings.twitter.socialtags}}" socialshare-url="{{absoluteUrl}}"><span class='icon icon-social-twitter'></span></a>

  <a class='btn btn-line btn-share' socialshare socialshare-provider="facebook" socialshare-text="{{OG.title}}" socialshare-title="{{OG.title}}" socialshare-description="{{OG.description}}"  socialshare-hashtags="{{settings.socialtags}}" socialshare-media="{{OG.image}}" socialshare-via="{{settings.facebook}}" socialshare-type="feed" socialshare-url="{{absoluteUrl}}"><span class='icon icon-social-facebook'></span></a>

  <a class='btn btn-line btn-share' socialshare socialshare-provider="linkedin" socialshare-text="{{OG.title}}" socialshare-description="{{OG.description}}"  socialshare-source="{{OG.image}}" socialshare-url="{{absoluteUrl}}"><span class='icon icon-social-linkedin'></span></a>

   <a class='btn btn-line btn-share' socialshare socialshare-provider="email" socialshare-body="{{OG.title}} ({{absoluteUrl}}) by RESuME" socialshare-source="{{OG.image}}" socialshare-url="{{absoluteUrl}}"><span class='icon icon-envelope'></span></a>
</div>